Repository njdifiore91/saas-metrics-v2-rltxvo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @startup-metrics/platform-admins, @startup-metrics/backend-team, @startup-metrics/frontend-team, @startup-metrics/qa-team, @startup-metrics/devops-team, @startup-metrics/security-team, @startup-metrics/metrics-team, @startup-metrics/reporting-team, @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/metrics-service-deployment.yaml
  src/backend/k8s/metrics-service-deployment.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/postgres-deployment.yaml
  src/backend/k8s/postgres-deployment.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/redis-deployment.yaml
  src/backend/k8s/redis-deployment.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/report-service-deployment.yaml
  src/backend/k8s/report-service-deployment.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/openapi/admin-service.yaml
  src/backend/openapi/admin-service.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/openapi/auth-service.yaml
  src/backend/openapi/auth-service.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/openapi/metrics-service.yaml
  src/backend/openapi/metrics-service.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/openapi/report-service.yaml
  src/backend/openapi/report-service.yaml
Owners: @startup-metrics/devops-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/migrations/0001_initial_setup.sql
  src/backend/prisma/migrations/0001_initial_setup.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/migrations/0002_add_metrics_tables.sql
  src/backend/prisma/migrations/0002_add_metrics_tables.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/migrations/0003_add_benchmark_tables.sql
  src/backend/prisma/migrations/0003_add_benchmark_tables.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/migrations/0004_add_report_tables.sql
  src/backend/prisma/migrations/0004_add_report_tables.sql
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/seed/benchmark-data.ts
  src/backend/prisma/seed/benchmark-data.ts
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/prisma/seed/metric-definitions.ts
  src/backend/prisma/seed/metric-definitions.ts
Owners: @startup-metrics/database-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/Dockerfile
  src/backend/src/admin-service/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/package.json
  src/backend/src/admin-service/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/tsconfig.json
  src/backend/src/admin-service/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/app.ts
  src/backend/src/admin-service/src/app.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/config/database.config.ts
  src/backend/src/admin-service/src/config/database.config.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/controllers/admin.controller.ts
  src/backend/src/admin-service/src/controllers/admin.controller.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/models/admin.model.ts
  src/backend/src/admin-service/src/models/admin.model.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/services/admin.service.ts
  src/backend/src/admin-service/src/services/admin.service.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/admin-service/src/validators/admin.validator.ts
  src/backend/src/admin-service/src/validators/admin.validator.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/Dockerfile
  src/backend/src/api-gateway/Dockerfile
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/package.json
  src/backend/src/api-gateway/package.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/tsconfig.json
  src/backend/src/api-gateway/tsconfig.json
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/app.ts
  src/backend/src/api-gateway/src/app.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/config/cors.config.ts
  src/backend/src/api-gateway/src/config/cors.config.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/config/rate-limit.config.ts
  src/backend/src/api-gateway/src/config/rate-limit.config.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/middleware/auth.middleware.ts
  src/backend/src/api-gateway/src/middleware/auth.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/middleware/error.middleware.ts
  src/backend/src/api-gateway/src/middleware/error.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/middleware/logging.middleware.ts
  src/backend/src/api-gateway/src/middleware/logging.middleware.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/admin.routes.ts
  src/backend/src/api-gateway/src/routes/admin.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/auth.routes.ts
  src/backend/src/api-gateway/src/routes/auth.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/benchmark.routes.ts
  src/backend/src/api-gateway/src/routes/benchmark.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/index.ts
  src/backend/src/api-gateway/src/routes/index.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/metrics.routes.ts
  src/backend/src/api-gateway/src/routes/metrics.routes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/api-gateway/src/routes/reports.routes.ts
  src/backend/src/api-gateway/src/routes/reports.routes.ts
Owners: @startup-metrics/backend-team

.github/CODEOWNERS:

* @startup-metrics/platform-admins

# Backend team ownership for all backend code
/src/backend/ @startup-metrics/backend-team

# Frontend team ownership for all web application code
/src/web/ @startup-metrics/frontend-team

# QA team ownership for test directory
/src/test/ @startup-metrics/qa-team

# DevOps team ownership for all Terraform files
*.tf @startup-metrics/devops-team

# DevOps team ownership for infrastructure configuration
/infrastructure/ @startup-metrics/devops-team

# Dual ownership of auth service by security and backend teams
/src/backend/src/auth-service/ @startup-metrics/security-team @startup-metrics/backend-team

# Dual ownership of metrics service by metrics and backend teams
/src/backend/src/metrics-service/ @startup-metrics/metrics-team @startup-metrics/backend-team

# Dual ownership of report service by reporting and backend teams
/src/backend/src/report-service/ @startup-metrics/reporting-team @startup-metrics/backend-team

# QA team ownership for all test files
*.test.ts @startup-metrics/qa-team

# QA team ownership for all E2E test specifications
*.spec.ts @startup-metrics/qa-team

# Database team ownership for Prisma schema and migrations
/src/backend/prisma/ @startup-metrics/database-team

# Security team ownership for dependency management
package.json package-lock.json @startup-metrics/security-team

# DevOps team ownership for all Kubernetes and configuration files
*.yaml @startup-metrics/devops-team

# DevOps team ownership for CI/CD workflows
.github/workflows/ @startup-metrics/devops-team

# Platform administrators ownership for CODEOWNERS file
.github/CODEOWNERS @startup-metrics/platform-admins
