Repository njdifiore91/saas-metrics-v2-rltxvo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @startup-metrics/platform-admins, @startup-metrics/backend-team, @startup-metrics/frontend-team, @startup-metrics/qa-team, @startup-metrics/devops-team, @startup-metrics/security-team, @startup-metrics/metrics-team, @startup-metrics/reporting-team, @startup-metrics/database-team

.github/CODEOWNERS:

* @startup-metrics/platform-admins

# Backend team ownership for all backend code
/src/backend/ @startup-metrics/backend-team

# Frontend team ownership for all web application code
/src/web/ @startup-metrics/frontend-team

# QA team ownership for test directory
/src/test/ @startup-metrics/qa-team

# DevOps team ownership for all Terraform files
*.tf @startup-metrics/devops-team

# DevOps team ownership for infrastructure configuration
/infrastructure/ @startup-metrics/devops-team

# Dual ownership of auth service by security and backend teams
/src/backend/src/auth-service/ @startup-metrics/security-team @startup-metrics/backend-team

# Dual ownership of metrics service by metrics and backend teams
/src/backend/src/metrics-service/ @startup-metrics/metrics-team @startup-metrics/backend-team

# Dual ownership of report service by reporting and backend teams
/src/backend/src/report-service/ @startup-metrics/reporting-team @startup-metrics/backend-team

# QA team ownership for all test files
*.test.ts @startup-metrics/qa-team

# QA team ownership for all E2E test specifications
*.spec.ts @startup-metrics/qa-team

# Database team ownership for Prisma schema and migrations
/src/backend/prisma/ @startup-metrics/database-team

# Security team ownership for dependency management
package.json package-lock.json @startup-metrics/security-team

# DevOps team ownership for all Kubernetes and configuration files
*.yaml @startup-metrics/devops-team

# DevOps team ownership for CI/CD workflows
.github/workflows/ @startup-metrics/devops-team

# Platform administrators ownership for CODEOWNERS file
.github/CODEOWNERS @startup-metrics/platform-admins

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/Dockerfile
  src/backend/src/auth-service/Dockerfile
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/package.json
  src/backend/src/auth-service/package.json
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/tsconfig.json
  src/backend/src/auth-service/tsconfig.json
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/app.ts
  src/backend/src/auth-service/src/app.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/config/google-oauth.config.ts
  src/backend/src/auth-service/src/config/google-oauth.config.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/config/jwt.config.ts
  src/backend/src/auth-service/src/config/jwt.config.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/controllers/auth.controller.ts
  src/backend/src/auth-service/src/controllers/auth.controller.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/models/user.model.ts
  src/backend/src/auth-service/src/models/user.model.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/services/auth.service.ts
  src/backend/src/auth-service/src/services/auth.service.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/auth-service/src/validators/auth.validator.ts
  src/backend/src/auth-service/src/validators/auth.validator.ts
Owners: @startup-metrics/security-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/Dockerfile
  src/backend/src/metrics-service/Dockerfile
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/package.json
  src/backend/src/metrics-service/package.json
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/tsconfig.json
  src/backend/src/metrics-service/tsconfig.json
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/app.ts
  src/backend/src/metrics-service/src/app.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/config/database.config.ts
  src/backend/src/metrics-service/src/config/database.config.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/config/redis.config.ts
  src/backend/src/metrics-service/src/config/redis.config.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/controllers/benchmark.controller.ts
  src/backend/src/metrics-service/src/controllers/benchmark.controller.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/controllers/metrics.controller.ts
  src/backend/src/metrics-service/src/controllers/metrics.controller.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/models/benchmark.model.ts
  src/backend/src/metrics-service/src/models/benchmark.model.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/models/company.model.ts
  src/backend/src/metrics-service/src/models/company.model.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/models/metric.model.ts
  src/backend/src/metrics-service/src/models/metric.model.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/services/benchmark.service.ts
  src/backend/src/metrics-service/src/services/benchmark.service.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/services/calculation.service.ts
  src/backend/src/metrics-service/src/services/calculation.service.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/services/metrics.service.ts
  src/backend/src/metrics-service/src/services/metrics.service.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/utils/metric-calculations.ts
  src/backend/src/metrics-service/src/utils/metric-calculations.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/metrics-service/src/validators/metric.validator.ts
  src/backend/src/metrics-service/src/validators/metric.validator.ts
Owners: @startup-metrics/metrics-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/Dockerfile
  src/backend/src/report-service/Dockerfile
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/package.json
  src/backend/src/report-service/package.json
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/tsconfig.json
  src/backend/src/report-service/tsconfig.json
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/app.ts
  src/backend/src/report-service/src/app.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/config/storage.config.ts
  src/backend/src/report-service/src/config/storage.config.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/controllers/report.controller.ts
  src/backend/src/report-service/src/controllers/report.controller.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/models/report.model.ts
  src/backend/src/report-service/src/models/report.model.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/services/report.service.ts
  src/backend/src/report-service/src/services/report.service.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/templates/benchmark-report.ts
  src/backend/src/report-service/src/templates/benchmark-report.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/report-service/src/templates/comparison-report.ts
  src/backend/src/report-service/src/templates/comparison-report.ts
Owners: @startup-metrics/reporting-team, @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/shared/constants/error-codes.ts
  src/backend/src/shared/constants/error-codes.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/shared/constants/metric-definitions.ts
  src/backend/src/shared/constants/metric-definitions.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/shared/interfaces/benchmark.interface.ts
  src/backend/src/shared/interfaces/benchmark.interface.ts
Owners: @startup-metrics/backend-team

Add public-samples/saas-metrics-v2-rltxvo/src/backend/src/shared/interfaces/metric.interface.ts
  src/backend/src/shared/interfaces/metric.interface.ts
Owners: @startup-metrics/backend-team
